<ng-container *ngIf="question|async as que">
    <!-- {{que|json}} -->
    <div class="main-question-page" #screen>
        <div class="question-container">
            <div class="question-title">{{que.question}}</div>
            <button (click)="removeQuestion()" class="btn btn-danger">Supprimer la question</button>
        </div>
        <div class="answers-container">
            @for (answer of que.answers; track $index) {
            <div class="answer" (click)="chooseAnswer($index)"
                [ngClass]="{selected: answerSelected == $index, answer1: que.answers.length == 1, answer2: que.answers.length == 2, answer3: que.answers.length >= 3}">
                {{answer}} <div>{{ this.answersSelected[$index] }}</div>
            </div>
            }
        </div>
        <div class="save-container">
            <button (click)="saveQuestion()" class="btn btn-success">Enregistrer</button>
        </div>
    </div>
</ng-container>