.body {
  padding: 0 55px;
}

table {
  padding: 1rem;
  font-size: 1.5rem;
  width: fit-content;
}

td {
  padding: .5rem;
}

.title {
  font-weight: bold;
}

.company {
  font-style: italic;
  display: flex;
  align-items: center;
  gap: .75rem;
}
