@if (student()) {
<table>
  <tbody>
    <tr>
      <td rowspan="4">
        <img [src]="'https://randomuser.me/api/portraits/'+ sexe() +'/'+student()?.id+'.jpg'" alt="">
      </td>
      <td>Identité de l'étudiant•e :</td>
      <td>{{ student()?.name?.first }} {{student()?.name?.last}}</td>
    </tr>
    <tr>
      <td>Email :</td>
      <td>{{ student()?.email }}</td>
    </tr>
    <tr>
      <td>Télephone :</td>
      <td>{{ student()!.phone | phone }}</td>
    </tr>
    <tr>
      <td>Entreprise d'accueil :</td>
      <td class="company"><img [src]="'https://logo.clearbit.com/'+ student()?.company?.website+'?format=png&size=70'"
          class="logo" alt=""> {{
        student()?.company?.name }}</td>
    </tr>
    <tr>
      <td colspan="3">
        <button class="btn btn-danger" (click)="deleteStudent()">Suprimer</button>
      </td>
    </tr>
  </tbody>
</table>
}