<button class="add-student__button" (click)="openCreateStudent()">+</button>
<main>
  @for (student of students(); track student.id) { <app-student-item [student]="student" />}
</main>
<app-modal [ngClass]="{'show': isDetailsOpen()}" HeadTitle="Student Details" (onModalClose)="closeStudentDetails()">
  <app-student-item-details />
</app-modal>
<app-modal [ngClass]="{'show': showCreateStudent()}" HeadTitle="Create Student" (onModalClose)="closeCreateStudent()">
  <app-create-student (onModalClose)="closeCreateStudent()" />
</app-modal>
<router-outlet></router-outlet>