<img [src]="'https://randomuser.me/api/portraits/'+ sexe() +'/'+student.id+'.jpg'" class="avatar" alt="">
<!-- <img [src]="'https://placehold.co'+ student.picture +'/020366/fff'" alt=""> -->
<div class="informations">
  <div class="row-wrapper">
    <p class="name">
      {{student.name.first}} <br> {{student.name.last}}
    </p>
    <img [src]="'https://placehold.co'+ student.company.logo +'/020366/fff'" class="logo" alt="">
  </div>
  <p class="company">
    {{student.company.name}}
  </p>
</div>